[Unit]
Description=Painel Técnico Setor 1 (Streamlit)
After=network.target

[Service]
WorkingDirectory=/root/auvo-git/painel
ExecStart=/root/auvo-git/venv/bin/python -m streamlit run setor1.py --server.port=8502
Restart=always
User=root

[Install]
WantedBy=multi-user.target
